.column {
    background-color: pink;
    border-radius: 2.5px;
    width: 400px;
    height: 900px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 1px solid gray;
}

.column h3 {
    padding: 8px;
    background-color: lightpink;
    text-align: center;
}

.column div {
    padding: 3px;
    transition: background-color 0.2s ease;
    background-color: lightpink;
    flex-grow: 1;
    min-height: 100px;
}

.column button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
}